{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}


<div class="row">
  <div class="coloumn">
  <img src="logo1.jpg">
  </div>

  <div class="coloumn">
  <img src="logo1.jpg">
  </div>
</div>